/* Adjusting Navbar */
.navbar-flex-container
{
    display: flex;
    flex-direction: column;
}
.nav-list-flex-container
{
    display: flex;
    flex-direction: column;
}

.nav-list-flex-container .nav-list-flex-item
{
    padding: 4px;
}

.nav-list-flex-container .nav-list-flex-item a:hover
{
    padding-bottom: 4px;
    border-bottom: 2px solid var(--primary-color);
}

/* Adjusting About Section */

#about
{
    flex-direction: column;
}

/* Adjusting Solutions Section */

.flex-columns .row
{
    flex-direction:column;
}

/* Adjusting Cases Section */

#cases .cases-images
{
    flex-direction: column;
    flex-wrap: nowrap;
}

#cases .cases-images img
{
    max-width: 100%;
    padding: 0px 4px 0px 4px;
}

/* Adjusting Team Section */

.team .team-images
{
    flex-direction: column;
}


/* Adjusting Contact section by removing image from that section */

#contact .row .column .column-1 img
{
    display: none;
}

/* Adjusting Blog page to small screens */

#blogs #showcase-content
{
    padding: 50px 10px 0px 10px;
}

#blog-page .row img
{
    display: none;
}